.msg-container {
  overflow-y: auto;
  height: 100%;
  margin: 0 auto;
  scroll-behavior: smooth;
  /* scroll-margin-top: 9999px; */
  padding: 10px;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column-reverse;

}

.msg-container-outer {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 600px;
  width: 800px;
  border: 1px solid #ccc;
  /* border-radius: 10px; */
  /* padding: 10px; */
  background-color: #f4f4f4;
  margin: 0 auto 20px;
}

/* .msg-container-inner {
   max-height:700px;
} */

.chat-msg {
  position: relative;
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 80%;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-size: 16px;
  text-align: left;
}

.system {
  display: none;
}

.chat-role {
  text-transform: capitalize;
  font-weight: 500;
}

.assistant .chat-msg {
  background-color: #ffffff;
  color: #555;
  /* border: 1px solid #ccc; */
  margin-left: 20px;
  margin-right: auto;
}

.user .chat-msg {
  background-color: #B0D2E8;
  color: #333;
  /* border: 1px solid #bbb; */
  margin-left: auto;
  margin-right: 40px;
}

.assistant .chat-msg:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  border-style: solid;
  border-width: 10px 20px 10px 0;
  border-color: transparent #ffffff transparent transparent;
  transform: translateY(-50%);
}

.user .chat-msg:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #B0D2E8;
  transform: translateY(-50%);
}

form {
  display:flex;
  flex-direction: column;
}

.input-section {
  display: flex;
  flex-direction:row;
  justify-content: center;
}

.mode-selector {
  height:  30px;
  margin-top: auto;
  margin-bottom: auto;
}

.chat-input {
  width: 400px;
  height:auto;
  padding: 8px;
  margin: 10px;
}

.show-range-picker {
  display: flex;
  justify-content: center;
  margin-left: 225px; /* change */
  margin-right: auto;
}

.hide {
  display: none;
}

.tentative-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.add-to-btn {
  margin: auto 0;
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  color: #0D1F2D;
  border-color: #0D1F2D;
}

.add-to-btn:hover {
    color: #fff;
    background-color: #0D1F2D;
    border-color: #0D1F2D;
  }