.app {
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 400;
  font-size: 40px;
}

.app-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 8px 4px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.upper-container,
.bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.chat-container {
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content:start;
  padding: 20px 20px;
  
}
.calendar-container {
  display: flex;
  flex:1;
  flex-direction: column;
  margin-top: 75px;
  margin-left: 30px;
}

.hide-container {
  display: none;
}

.mail-container {
  display: flex;
  flex-direction: column;
  min-width: 840px;
  min-height: 900px;
  margin-left: 50px;
  margin-top: 30px;

}

.mailto {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%; */
  text-align: left;
  margin-left: 20px;
}

.mailto-label {
  font-size: 18px
}

.mailto-input {
  padding: 5px;
  margin: 5px;
}
